* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: Consolas,monospace;
}

#mz700 {
/* border-right: 2px solid black; */
/* border:2px solid rgb(5   5, 0, 66) ; */
/* width: auto; */
/* max-width: ; */
/* height: min(800px,100vh); */
/* width: 480px; */
/* height: 300px; */
image-rendering:pixelated !important;
position: relative;
    /* transform: scale(calc(0.8*2)); */
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
#maincanvasContainer {
    width: 1024px;
    height: 640px;
}

body {
    background-color: #3F3F3F;
}

.optionsContainer {
background-color:#dedede;
}

#container {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
}
#options {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: baseline;
    padding:0 5px;
    flex-direction: column;
}
/* #options * {
    border: 1px solid black;
} */
#options > input{
    padding: 10px;
}
#colorsAndScales {
    margin: 5px 0 0 0;
    border: 1px solid #3F3F3F;

}
#colors > div {
    display: flex;
    flex-direction: row;
    /* margin-top: 15px; */
    padding: 0 15px 15px 15px;
    justify-content: center;
    align-items: center;
}
#colors > div > input {
    width: 32px;
    height: 32px;
    border-radius: 0;
}
#colors > p {
    margin-top: 15px;
    margin-bottom: 1px;
}
#colors {
    
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /* justify-content: center; */
    align-items: center;
}
#colors > button {
    width: 50px;
    height: max-content;
    padding: 3px;
    /* position:absolute; */
    
    /* top: 4px; */
}

.buttonImage {
    width: auto;
}

#applyPalette {
    margin-bottom: 15px;
}

#loadOptions {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px;
    border: 1px solid #3F3F3F;

}

#optionsContainer {
    height: 100%;
}

.horz-divider {
    width: 0;
    height: 100%;
    border-left: 1px solid#3F3F3F;
}

#menu {
    right: 0;
    height: max-content;
    /* width: 100%;
    height: 100%; */
    position: fixed;
    /* padding-right: 2px; */
}
.optionsText {
    text-align: center;
}

#scales {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#scales > button {
    padding: 7px;
    margin: 3px;
    /* height: 100%; */
}
#menu > * {
    position:fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* padding-top: 4px; */
}
#menuButtons > button {
    /* border-radius: % 0px 0px 0px; */
    border: 1px solid rgb(74, 74, 74);
    border-width: 1px 0px 2px 1px;
    padding: 4px;
    cursor: pointer;
    width: 35px;
    height: 50px;
    transition: color 0.3s,background-color 0.3s,width 0.3s,border-radius 0.3s;
    font-family: wingdings;
    font-size: 20px;
}

.menuButton > img {
    transition: filter 0.3s;
}

.hiddenMenu {
    display: none !important;
}
.high {
    background-color: #646464;
    color: #dedede;
    width: 40px !important;
    /* border-radius: 6px 0 0 0; */
}
.high > img {
    filter: invert(1);
}
#gridCanvas {
    /* width:100%; */
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 25vw;
    /* min-height: 352px; */
    /* height: 50%; */
    image-rendering:pixelated !important;
}
#charGrid {
    overflow: hidden;
    width: max-content;    /* height: 100%; */
}
.FG {
    background-color: aqua;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 2px;
    cursor: pointer;
}
.BG {
    background-color: rgb(51, 255, 0);
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 2px;
    cursor: pointer;
}

#FGlist {
    display: flex;
}

#BGlist {
    display: flex;
}

#colorLists {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}

#edit {
    width: 100%;
}

#editContainer {
    width: fit-content;
}
#selected {
    width: calc(100% / 16);
    height: calc(100% / 22);
    border: 2px solid rgb(255, 255, 255);
    /* background-color: white; */
    position: absolute;
    z-index: 3;
    mix-blend-mode: difference;
    /* transform: translate(-2px,-2px); */
}

#canvasContainer {
    max-width: 25vw;

    position: relative;
}
#swap {
    height: 30px;
    width: 30px;

}

#miscEdit {
    display: flex;
    flex-direction: row;
    /* margin-top: 15px; */
    /* padding: 0 15px 15px 15px; */
    justify-content: center;
    align-items: center;
    border: 1px solid #3F3F3F;
    /* margin: 3px; */
    width: 100%;
    flex-wrap: wrap;
}

#gridborder {
    padding: 3px 3px 0px 3px;
    margin: 3px;
    border:1px solid #3F3F3F ;
    max-width: 25vw;
    /* height: 100%; */
}

#saveButton, 
#textSave,
#loadButton {
    padding: 4px;
    margin: 3px;
    width: min(100px,100%);
}
#buttons {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    border: 1px solid #3F3F3F;
    margin-top: 6px;
}
#buttons > button {
    width: max-content;
    height: 30px;
}