* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: Consolas,monospace;
}

#mz700 {
/* border-right: 2px solid black; */
/* border:2px solid rgb(5   5, 0, 66) ; */
/* width: auto; */
/* max-width: ; */
/* height: min(800px,100vh); */
/* width: 480px; */
/* height: 300px; */
background-color: black;
image-rendering:pixelated !important;
position: relative;
    /* transform: scale(calc(0.8*2)); */
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
#maincanvasContainer {
    width: 1024px;
    height: 640px;
}

body {
    background-color: #3F3F3F;
}

.optionsContainer
/* ,#gridborder  */
{
background-color:#dedede;
border-width: 1px 1px 2px 1px;

/* animation-name: "flip-up";
animation-duration: 0.1s;
-o-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
/* @keyframes flip-up {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
} */


#container {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
#options {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    padding:0 5px;
    flex-direction: column;
}
/* #options * {
    border: 1px solid black;
} */
#options > input{
    padding: 10px;
}
#colorsAndScales {
    margin: 5px 0 0 0;
    border: 1px solid #3F3F3F;
    border-width: 1px 1px 2px 1px;
    /* min-height: 100px; */
    position: relative;
}
/* .horz-divider {
    position: relative;
    top: -9px;
    width: 1px;
    background-color: #3F3F3F;
    height: 100%;
} */
#colors > div {
    display: flex;
    flex-direction: row;
    /* margin-top: 15px; */
    padding: 0 15px 15px 15px;
    justify-content: center;
    align-items: center;
}
#colors > div > input {
    width: 32px;
    height: 32px;
    border-radius: 0;
}
#colors > p {
    margin-top: 15px;
    margin-bottom: 1px;
}
#colors {
    
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /* justify-content: center; */
    align-items: center;
}
#colors > button {
    width: 50px;
    height: max-content;
    padding: 3px;
    /* position:absolute; */
    
    /* top: 4px; */
}

.buttonImage {
    width: auto;
}

#applyPalette {
    margin-bottom: 15px;
}

#loadOptions {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px;
    border: 1px solid #3F3F3F;
    border-width: 1px 1px 2px 1px;
}

#optionsContainer {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



#menu {
    right: 0;
    height: max-content;
    /* width: 100%;
    height: 100%; */
    position: fixed;
    /* padding-right: 2px; */
}
.optionsText {
    text-align: center;
}

#scales {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid #3F3F3F; */
}
#scales > button {
    padding: 7px;
    margin: 3px;
    /* height: 100%; */
}
#menu > * {
    position:fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* padding-top: 4px; */
}
#menuButtons > button {
    /* border-radius: % 0px 0px 0px; */
    border: 1px solid rgb(74, 74, 74);
    border-width: 1px 0px 2px 1px;
    padding: 4px;
    cursor: pointer;
    margin: 1px 0;
    width: 35px;
    height: 50px;
    transition: color 0.3s,background-color 0.3s,width 0.3s,border-radius 0.3s;
    font-family: wingdings;
    font-size: 20px;
}

#grid {
    background-image: url(../resources/img/grid.png);
    background-repeat: repeat;
    background-position: right top;
    height: 200px;
    width: 320px;
    image-rendering:pixelated !important;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.menuButton > img {
    transition: filter 0.3s;
}

.hiddenMenu {
    display: none !important;
}
.selected-menu {
    background-color: #646464;
    color: #dedede;
    width: 40px !important;
    /* border-radius: 6px 0 0 0; */
}
.selected-menu > img {
    filter: invert(1);
}
#gridCanvas {
    /* width:100%; */
    position: relative;
    z-index: 2;
    /* width: 100%; */
    /* max-width: 25vw; */
    /* min-height: 352px; */
    /* height: 50%; */
    image-rendering:pixelated !important;
}
#charGrid {
    overflow: hidden;
    width: max-content;    /* height: 100%; */
}
.FG {
    background-color: aqua;
}
.BG {
    background-color: rgb(51, 255, 0);
}

.FG,
.BG {
    border: 2px outset rgb(193, 193, 193) ;
    width: 30px;
    height: 30px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.FG:active,
.BG:active {
    border: 2px inset rgb(193, 193, 193) ;
}

.colSelected {
    border: 2px inset rgb(193, 193, 193) ;
}

.BG > *,.FG > * {
    font-size: 14pt;
    color: white;
    mix-blend-mode: difference;    
}

#FGlist {
    display: flex;
}

#BGlist {
    display: flex;
}

#colorLists {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 70px;
    /* flex-direction: column; */
    /* justify-content: center; */
}

#editContainer {
    width: fit-content;
}
#edit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selected {
    width: calc(100% / 16);
    height: calc(100% / 22);
    /* border: 3.2px solid rgb(255, 255, 255); */
    /* background-color: white; */
    position: absolute;
    z-index: 3;
    mix-blend-mode: difference;
    /* transform: translate(-2px,-2px); */
}

#canvasContainer {
    /* max-width: 25vw; */

    position: relative;
}
#swap {
    height: 90%;
    width: 30px;
    margin: 2px;
}
#floodButton {
    height: 90%;
    width: 30px;
    margin: 2px;
    margin-right: 6px;
    opacity: 0.6;
}

.flooding {
    opacity: 1 !important;
    background-color: #e6ffe5;
    border: 1px solid gray;
    border-radius: 4px;
}

#miscEdit {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    /* padding: 0 15px 15px 15px; */
    justify-content: center;
    align-items: center;
    border: 1px solid #3F3F3F;
    /* border-width: 1px 1px 2px 1px; */
    /* margin: 3px; */
    width: 100%;
    flex-wrap: wrap;
}

#gridborder {
    padding: 3px 3px 0px 3px;
    margin: 3px;
    border:1px solid #3F3F3F ;
    border-width: 1px 1px 2px 1px;    border-width: 1px 1px 2px 1px;
    width:min-content;
    /* height: 100%; */
}

#saveButton, 
#textSave,
#loadButton {
    padding: 4px;
    margin: 3px;
    width: min(100px,100%);
}
#buttons {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    border: 1px solid #3F3F3F;
    border-width: 1px 1px 2px 1px;
    margin: 6px 0;
    padding: 6px;
}
#buttons > button{
    width: 100%;
    height: 37.5px;
    /* margin: 3px; */
}
.menuMargin {
    margin: 5px;
}
.menuBox {
    background-color: #dedede;
    padding: 3px;
    border: 1px solid #3F3F3F;
    border-width: 1px 1px 2px 1px;
    border-width: 1px 1px 2px 1px;
}

.flexrow {
    display: flex;
    flex-direction: row;
}
.desc {
    font-size: 10px;
    color: #3F3F3F;
}
.hide-grid {
    display: none;
}

.sc {
    border: 1px solid #b0b0b0;
    box-shadow: 0px 3px 0px 0px #3F3F3F;
    background-color: #ebebeb;
    margin: 6px 1px;
    padding: 2px 6px;
    cursor:pointer;
    border-radius: 2px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.120s;
    top: 0px;
    position: relative;
    user-select: none;  
}

.info-box {
    padding: 6px 3px;
}

/* .longer-text {
    line-height: 1.75;
}
.extra-text {
    line-height: 1;
} */

.sc:active {
    top: 3px;
    box-shadow: 0px 0px 0px 0px #3F3F3F;
}